<% if @categories.empty? %>
    <h1>Nenhuma categoria cadastrada</h1>
<% else %>
    <dl>
        <% @categories.each do |category| %>
            <dt>Nome:</dt>
            <dd><%= link_to category.name, category_path(category.id)%></dd>
            <dt>Código:</dt>
            <dd><%= category.code %></dd>
            <hr>
        <% end %>
    </dl>
<% end%>


<%= link_to 'Registrar uma categoria', new_category_path %>
<h2><%= link_to 'Voltar', root_path%></h2>